.idf-content-panel .idf-integration-search {
    .idf-integration-filter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 25px;

        .idf-filters-wrapper {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            & > * {
                margin-right: 20px;
                max-width: 100%;
                width: calc(20% - 20px);
                min-width: 20px;
            }
        }
        .idf-row{
            margin-top:12px;
            align-self: flex-start;
        }
    }
    .idf-integration {
        height: 100%;
        transition: height 0.3s ease;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        //active item
        .idf-focus .idf-flex-table.idf-row {
            transition: border-color 0.4s ease-in-out;
            border: 2px solid $blue !important;
        }

        .idf-disabled{
            opacity: .65;
        }

        $columns: 1fr 20% 18% 20% 75px;
        @include bigTable($columns);
        @include filterVisible(100px, 100px);

        .idf-flex-table {
            &.idf-row {
                min-height: 67px;
                border: 2px solid transparent;
                &:hover {
                    transition: border-color 0.4s ease-in-out;
                    border: 2px solid $flatblue;
                    cursor: pointer;
                }
            }

            .idf-action {
                display: flex;
                -ms-flex-align: center;
                align-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-end;
                padding-right: 5px !important;
            }
        }
    }
}
