.idf-integration-view{

    .idf-darkblue.idf-important {
        margin-top: 35px;
    }
    .idf-integration-settings {
        .idf-darkblue.idf-important {
            margin-top: 0px;
        }
        .idf-aside-list{
            margin-top:15px;
            margin-bottom: 20px;
        }
    }

    section > .idf-important {
        border-bottom: 1px solid $bluegray;
        margin-top: 35px;
        margin-bottom: 7px;
        line-height: 1.6;
    }
    .idf-inline-actions{
        display: none !important;
    }
}