$darkblue:#2f4050;
$lightblue:#425a70;
$flatlightblue:#8F99A3;
$green: #2EAA7D;
$gray: #F3F5F7;
$darkgray:#e5e5e5;
$hovercolor:rgba(0, 0, 0, 0.05);
$activecolor:rgba(0, 0, 0, 0.12);
$bodytext:#676a6c;
$blue:#0878CF;
$red:#AA2E2E;
$flatblue:#BFCDD9;
$bluegray:#DFE6EC;
$legacy: #FFCC00;

$bold:600;

$ease: cubic-bezier(0.18, 0.89, 0.68, 1.3); //cubic-bezier(0.175, 0.885, 0.52, 1.775);
$btnanimation: all .25s ease-in-out;

$container: 1190px;

$cardpadding: 20px;
$flashease:cubic-bezier(0.87, 0.07, 0.21, 0.99);